<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="eriks.ocakovskis">
  <meta name="keywords" content="cyber security">
  <title>{{title}}</title>
</head>
<body>
  <h1>Ēriks Očakovskis</h1>
  <p>Programmer, cyber security engineer and an angry Latvian</p>
  <h3>
    <a href="https://github.com/EriksOcakovskis">GitHub</a>
    <br>
    <a href="https://twitter.com/EriksOcakovskis">Twitter</a>
  </h3>
</body>
